@import "../../index.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  /* border: 1px solid red; */
}

.btn--save:disabled {
  background: red;
}

.btn--save {
  background: green;
  width: 200px;
  padding: 1em;
}
