@import "../../index.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  /* border: 1px solid red; */
}

.articleList__header {
  text-align: center;
  padding: 0.5em;
  background: lightblue;
}

.articleList__list {
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleList .btn--add {
  background: #343a40;
  margin-left: 2.5em;
  padding: 0.5em;
}
