.article {
  background: rgba(150, 150, 150, 0.8);
  padding: 0.5em;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 5px dashed black;
}

.article__title {
  padding: 0.5em;
  text-align: center;
}

.article__synopsis {
  padding: 0.5em;
}

.article__link {
  padding: 1em;
  background: lightblue;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

/*


export const Article = ({ article }) => (
 <div className="article">
  <h3 className="article__title">{ article.title }</h3>
  <p className="article__synopsis">{ article.synopsis }</p>
  <p className="article__poster">Posted by: { article.user.name }</p>
  <p className="article__timestamp">Posted: { article.timestamp }</p>
  <a href={ article.url }>View</a>
  </div>

)
*/
