*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  /* border: 1px solid red; */
}

.articleForm {
  background: rgba(150, 150, 150, 0.8);
  width: 90%;
  margin: 0 auto;
}

.articleForm__header {
  text-align: center;
  background: lightblue;
  padding: 1em;
}

.form-group {
  padding: 0.2em;
}

.btn--save {
  background: #343a40;
  margin: 0 auto;
  padding: 1em;
  color: lightblue;
  display: block;
  border-radius: 10px;
}

/*


 return (
  <form action="" className="articleForm">
   <h2 className="articleForm__header">Add Article</h2>
   <fieldset className="form-group">
    <label htmlFor="title">Title: </label>
    <input 
     type="text" 
     id="title" 
     name="title"
     className="form-control" 
     placeholder="Article Title"
     value={article.tile}
     onChange={handleControlledInputChange}
     required 
     autoFocus />
   </fieldset>
   <fieldset className="form-group">
    <label htmlFor="url">Article Url: </label>
    <input 
     type="url" 
     id="url" 
     name="url"
     className="form-control" 
     placeholder="https://example.com"
     value={article.url}
     onChange={handleControlledInputChange}
     pattern="https://.*"
     required 
     autoFocus />
   </fieldset>
   <fieldset className="form-group">
    <label htmlFor="synopsis">Synopsis: </label>
    <textarea 
     name="synopsis" 
     id="synopsis" 
     cols="30" 
     rows="10" 
     className="form-control" 
     placeholder="Synopsis"
     value={article.synopsis}
     onChange={handleControlledInputChange}>
    </textarea>
    <button className="btn--save"
     onClick={event => {
      event.preventDefault() 
      handleSaveArticle()
     }}>
     Save Article
    </button>
   </fieldset>
  </form> 

*/
