.event__info {
  display: flex;
  justify-content: space-evenly;
}

.event__buttons {
  display: flex;
  justify-content: space-evenly;
}

.btn--addEvent {
  margin: 10px 10px;
  padding: 5px
}

.event__btn {
  background: #343a40;
  color: #007bff;
}

.events__title,
.eventForm__title {
  padding: 0.5em;
  background: lightblue;
  text-align: center;
}

.eventForm {
  margin: 10px;
}

